In [113]:
#Отрыть файл для чтения
import pandas as pd
cicle_data = pd.read_csv('data\citibike-tripdata.csv', sep=',')

cicle_data

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [ ]:
#Доля значений столбца
cicle_data['usertype'].value_counts('Subscriber')

In [37]:
#Название гендеров кодировано. 1-м, 2-ж, 0-неизвестно.
cicle_data['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [44]:
a=cicle_data['start station id'].nunique()
b=cicle_data['end station id'].nunique()
print(a, b)

759 765

In [51]:
cicle_data['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [45]:
cicle_data['birth year'].max()

2002

In [52]:
cicle_data['end station name'].describe()

count                    299831
unique                      765
top       West St & Chambers St
freq                       1963
Name: end station name, dtype: object

In [103]:
cicle_df = cicle_data.copy()
display(cicle_df.head())
cicle_df = cicle_df.drop(['end station id'], axis=1)
display(cicle_df.info())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station name         299831 non-null  object
 7   end station latitude     300000 non-null  float64
 8   end station longitude    300000 non-null  float64
 9   bikeid                   300000 non-null  int64
 10  usertype                 300000 non-null  object
 11  birth year               300000 non-null  int64
 12  gender                   300000 non-null  int64
dtypes: float64(5), int64(3), object(5)
memory usage: 29.8+ MB

None

In [104]:
birth_year = cicle_df['birth year']
cicle_df['age'] = 2018 - birth_year
cicle_df = cicle_df.drop(['birth year'], axis=1)
display(cicle_df['age'])

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: age, Length: 300000, dtype: int64

In [111]:
mask  = cicle_df['age'] > 60
a = cicle_df[mask]
b = a.value_counts('age')
c = 0
for value in b:
     c += value
print(c)

11837

In [121]:
#Разница в минутах между стартом и финишем
from pandas import to_datetime
cicle_df['starttime'] = to_datetime(cicle_df['starttime'], dayfirst=True)
cicle_df['stoptime'] = to_datetime(cicle_df['stoptime'], dayfirst=True)
cicle_df['trip duration'] = cicle_df['starttime'].dt.minute - cicle_df['stoptime'].dt.minute

display(cicle_df['trip duration'])

0        -27
1         -2
2        -55
3         -7
4        -21
          ..
299995    -7
299996   -12
299997    -5
299998     4
299999    -4
Name: trip duration, Length: 300000, dtype: int64

In [125]:
from pandas import to_datetime

cicle_df['starttime'] = to_datetime(cicle_df['starttime'], dayfirst=True)   #Указала, что в таблице первым числом идет день, а не месяц
cicle_df['WeekdayStart']=cicle_df['starttime'].dt.dayofweek #Если дисплеить, выведутся все строки с индексом дня недели в колонке, которую мы придумали

def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else: 
        return 0
# признак - мигалка, был ли день, когла оставили отзыв, выходным
cicle_df['Weekend'] = cicle_df['WeekdayStart'].apply(get_weekend) #Создали стобец, который состоит из 0 и 1. 
display(cicle_df['Weekend'].value_counts())

0    184865
1    115135
Name: Weekend, dtype: int64

In [146]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
    
cicle_df['time_of_day'] = cicle_df['starttime'].dt.hour.apply(get_time_of_day)
a = len(cicle_df.loc[cicle_df['time_of_day'] =='day'].value_counts())
b = len(cicle_df.loc[cicle_df['time_of_day'] =='night'].value_counts())
print(round(a/b))

9