In [92]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

a=melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)] 

b=a.describe(include=['object'])

display(b)

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,9220,9220,9220,9220,9220,9220,7999,9220,9220
unique,313,9075,1,5,232,58,33,8,9160
top,Reservoir,2 Bruce St,h,S,Nelson,27/05/2017,Moreland,Northern Metropolitan,"-37.74635, 144.9229"
freq,253,3,9220,6367,1154,334,842,2737,2

NameError: name 'SellerG' is not defined