#### Это пиздец, как важно!!! Вот так можно скачать файл на комп и открыть в вскоде!
##### Если принтануть send_request, появится путь, куда скачан файл.
##### ufo_df = pd.read_csv(путь, sep=',') такая конструкция позволяет читать скачаный файл с помошью таблицы (Пандас)

In [3]:
#Импорт файла с сайта
import pandas as pd
import urllib.request
url = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv'
send_request = urllib.request.urlretrieve('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
ufo_df = pd.read_csv('C:\\Users\\katah\\AppData\\Local\\Temp\\tmpfowda4yq', sep=',')
display(ufo_df.tail())

              City Colors Reported Shape Reported State              Time
18236   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237  Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [7]:
#Тут выводим год, с самым частым искомым наблюдением
import pandas as pd
ufo_df = pd.read_csv('C:\\Users\\katah\\AppData\\Local\\Temp\\tmpfowda4yq', sep=',')
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'], dayfirst=True) #Приводим столбец "Time" к одному формату
ufo_df['Top_year'] = ufo_df['Time'].dt.year # "Фильтруем" стобец с датами, запрашивая только год
a = ufo_df['Top_year'].value_counts() #Так мы находим топ по количеству случаев. С .value_counts(normalize=True) - долевое соотношение
display(a)

1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: Top_year, Length: 68, dtype: int64

In [43]:

import pandas as pd
ufo_df = pd.read_csv('C:\\Users\\katah\\AppData\\Local\\Temp\\tmpfowda4yq', sep=',')
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'], dayfirst=True) #Приводим столбец "Time" к одному формату
ufo_df['Date'] = ufo_df['Time'].dt.date # "Фильтруем" стобец с датами, запрашивая дату
#ufo_df[ufo_df['State']=='NV'] в этой части мы обозначаем колонку(штат) и значение(имя штата) ==критерий
# Добавляя['Date'] мы опять указываем искомые значения, но уже относительно критерию, указанного выше
# .diff().dt.days.mean() == .diff(вичитает нижнее значение из верхнего).dt.days(указывает нужный формат - дни).mean(среднее значение итогов)
print(ufo_df[ufo_df['State']=='NV']['Date'].diff().dt.days.mean())

68.72084805653711