In [13]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')

display(student_data['math score'].mean()) #среднее значение балов по столбцу "матика"

66.089

In [14]:
display(student_data.loc[155, ['math score']]) #так мы получаем данные по конкретному индексу и в нужной колонке

math score    70
Name: 155, dtype: object

In [16]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')

display(student_data.describe(include=['object'])) #Данные по типу объект, топы и тд

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [26]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')
mask1=(student_data['test preparation course'] != 'none') # беру строки со значением НЕ none
b=student_data[mask1]['reading score'] #из этих строк выбираю значения из нужной мне колонки (балы по чтению)
c=b.mean() #нахожу среднее арифметическое этих балов

display(c)

73.89385474860335

In [31]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')
mask1=(student_data['math score'] == 0) #те, кто в столбце баллов по матике имеет 0 БЕЗ КАВЫЧЕК!

display(student_data[mask1]) #Вывожу строки, содержащие это условие

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [32]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')
mask1=(student_data['lunch'] == 'standard') # платное питание
mask2=(student_data['lunch'] == 'reduced') #льготное питание
mask3=(student_data['math score'][mask1]) #балы по матике у платного питания
mask4=(student_data['math score'][mask2]) #балы по матике у льготного питания
c=mask3.mean() #нахожу среднее арифметическое балов у платного питания
b=mask4.mean() #нахожу среднее арифметическое балов у льготного питания

display(c, b)

70.03410852713178

nan

In [38]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')
display(student_data['parental level of education'].value_counts(normalize=True)) #Посмотреть % значений в столбце parental level of education

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [59]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')
mask1=(student_data['race/ethnicity'] == 'group A') #принадлежность студента к расе А
mask2=(student_data['race/ethnicity'] == 'group C') #принадлежность студента к расе С
a = student_data[mask1]['writing score'] #балы студентов по письму в расе А
b=student_data[mask2]['writing score'] #балы студентов по письму в расе С
c=a.quantile(0.5) #Медианное значение балов в А и С группе
d=b.quantile(0.5)
display(c-d) #разница медиан

-6.0